@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #020d18;
}

.navbar-main {
  background-color: #0f2133;
}
.logo-color {
  color: #dd003f;
  font-weight: bold;
}
.top-search {
  align-items: center;
  justify-content: flex-start;
  border: 4px solid #020d18;
  height: 46px;
  background-color: #233a50 !important;
  font-family: "Nunito", sans-serif;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
  background: url(https://boostifythemes.com/demo/html/bustter/images/uploads/topsearch.png)
    no-repeat right 20px center;
}

.top-search:focus-within {
  height: 46px;
  border: none;
  background-color: #233a50 !important;
  font-family: "Nunito", sans-serif;
  font-size: #abb7c4;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
}
.form-control {
  border-radius: 0%;
}
.form-control:focus {
  color: #abb7c4;
  background-color: #fff;
  border: 4px solid #020d18;
  outline: 0;
  box-shadow: 0 0 0 0;
}
.btn {
  border: 4px solid #020d18;
  position: absolute;
  right: -98px;
  padding: 7px 21px;
  border-radius: 0;
  font-weight: bold;
  background-color: #dd003f;
}

.btn:focus {
  border-color: #020d18;
  box-shadow: 0 0 0 0;
}
.movieContainerBody {
  margin: 0 9% 0 11%;
}
.maincontainer {
  display: inline-table;
  flex-wrap: wrap;
}
.movie-container {
  display: inline-table;
  flex-wrap: wrap;
}
.movie {
  width: 255px;
  margin: 1rem;
  position: relative;
  box-shadow: 10px 10px 5px 0px rgba(219, 208, 208, 0.75);
}
.movie img {
  width: 255px;
  height: 355px;
}
.movie-title {
  background-color: #233a50;
  position: relative;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  height: 65px;
}
